{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<section class="geo">
    <div class="container geo__container">
        <img src="{% static 'app/img/salary_level_by_profession.png' %}" alt="">
        <img src="{% static 'app/img/share_of_vacancies.png' %}" alt="">
    </div>
    <div class="container tables">
        <div class="tables__left">
            <h2 class="tables__header">Уровень зарплат по городам</h2>
            <table class="tables__salary">
                <tr>
                    <th class="tables__cell">{{ headings.0 }}</th>
                    <th class="tables__cell">{{ headings.1 }}</th>
                </tr>
                {% for item in city_salary %}
                <tr>
                    <td class="tables__cell">{{ item.city }}</td>
                    <td class="tables__cell">{{ item.average_salary }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tables__right">
            <h2 class="tables__header">Доля вакансий по городам</h2>
            <table class="tables__salary">
                <tr>
                    <th class="tables__cell">{{ headings.2 }}</th>
                    <th class="tables__cell">{{ headings.3 }}</th>
                </tr>
                {% for item in city_share %}
                <tr>
                    <td class="tables__cell">{{ item.city }}</td>
                    <td class="tables__cell">{{ item.share }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}